@font-face {
  font-family: "Ubuntu Mono";
  src: url('ubuntu_mono.ttf');
}

@font-face {
  font-family: "Inter";
  src: url('inter.ttf');
}

body {
    background-color: #fff;
    padding:50px;
    font: 14px/1.5 Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#595959;
    font-weight:400;
  }